<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Website" />
  <meta name="keywords" content="HTML, CSS, JavaScript" />
    <title>{{ template "title" . }}</title>
</head>

<body>
  <header>
    <nav>
      <div class="left">
        <a href="">Logo</a>
      </div>
      <div class="right">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Services</a>
        <a href="">More</a>
        <a href="">Contact Us</a>
      </div>
    </nav>
  </header>
  <main>{{ template "content" . }}</main>
  <footer>
    <div class="media">media</div>
    <div class="links">links</div>
    <div class="copywrite">
      <p>&copy; All rights are reserved!</p>
    </div>
  </footer>
</body>

</html>
