@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

/* Body section */
body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Navbar Section */
nav {
  display: flex;
  padding: 20px;
  background-color: white;
}

nav .left {
  color: red;
  padding-left: 20px;
}

nav .left #logo {
  height: 80pt;
  width: 80pt;
}

nav .left #title {
  font-family: "Times New Roman", Times, serif;
}

nav .right {
  color: blue;
  font-family: "Teko", sans-serif;
  margin-left: 40px;
}

nav #error {
  background-color: red;
  border: transparent;
}

/* Main Content Section */

/* Home Section */
#home {
  height: 50px;
  width: 100%;
}

#home .banner {
  background-color: blue;
}

#home #tagline {
  font-size: 80%;
}

#home #subtag {
  font-size: 50%;
}

/* About Section */
#about .logo {
  background-color: green;
}

#about #text {
  font-size: 60%;
}

#about .card {
  background-color: white;
}

#about .card #icon {
  width: 100%;
  height: 50%;
}

#about .popup {
  background-color: yellow;
}

/* Services Section */
#services .card {
  background-color: violet;
}

#services .card .top {
  height: 70px;
  width: 100%;
}

#services .card .top .logo {
  height: 30px;
  width: 50px;
}

#services .card .bottom {
  background-color: white;
}

#services .card .bottom #popup {
  font-size: 5px;
}

#services dialog {
  background-color: yellowgreen;
}

/* Contact Us Section */
#contact #details {
  background-color: grey;
}

#contact #details a {
  background-color: grey;
}

#contact #details a img {
  background-color: grey;
}

#contact #details form {
  font-size: 50%;
}

#contact #details form #name {
  font-size: 50%;
}

#contact #details form #email {
  font-size: 50%;
}

#contact #details form #subject {
  font-size: 50%;
}

#contact #details form #message {
  font-size: 50%;
}

#contact #details form button {
  font-size: 50%;
  width: 100%;
  height: 50%;
}

/* End of Main Content Section */

/* Footer Section */
footer {
  display: flex;
}
