h1 {
  padding-top: 1rem;
}

table {
  margin-top: 4rem;
  transition: ease-in-out 300ms;

  & th {
    font-weight: bold;
    font-size: 1.5rem;
  }

  & td,
  th {
    text-align: center;
    transition: ease-in-out 300ms;

    & details {
      transition: ease-in-out 300ms;
    }

    & summary {
      font-weight: 500;
      font-size: 1.2rem;
    }

    & p {
      margin-top: 2.5rem;
      text-align: justify;
    }
  }
}

@media screen and (max-width: 700px) {
  table {
    margin-top: 2.5rem;
  }
}
